body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img{max-width: 100%;}

#dog_image {
    max-width: 512px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 10px 10px 16px rgba(0,0,0,0.2);
}

#dog_image img {
    width: 90%;
    padding: 1em;
}

section{
padding: 1em;
max-width: 100%;
}

section:nth-child(even) {
    background-color: #f1f1f1;
}

#hero {
    background-color: white;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1 {
    user-select: none;
    margin: 0;
    color: #34495e;
    font-size: 3em;
}

ul{
    text-transform: capitalize;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h2,
h3 {
    text-transform: capitalize;
}

h4 {
    font-family: 'Kristi', cursive;
    font-size: 2em;
    font-weight: 400;
    text-transform: capitalize;
    margin: 1em;
}

h1 span {
    font-weight: 300;
    border-left: 2px solid #34495e;
    padding-left: .3em;
}

footer{
    background-color: #34495e;
    color: white;
    font-size: x-small;
    text-align: center;
    padding: 1em;
}